Repository simple-app-develop/kakeibo, pull requests merged in 2023-08, with the labels that each got.

#1 Setting: GitHubで使用するファイルをcommit
  .DS_Store
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/fix_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/add_review_label.yml
  .github/workflows/add_wip_label.yml
  .github/workflows/auto_labeling_pull_request.yml
  .github/workflows/create_release_tag_and_release_note.yml
  .github/workflows/create_release_tag_and_release_note_push.yml
  .github/workflows/git-pr-release.yaml
  .github/workflows/inactive_issue.yml
  .github/workflows/issue_close_when_label_deletion.yml
  .github/workflows/pull_request_check.yml
Labels: 👀needs_review, 🛠️fix

#9 [patch] GitHub Actionsのワークフロー処理に項目を追加しました
  .github/release.yml
  .github/workflows/auto_labeling_pull_request.yml
Labels: 👀needs_review, 🛠️fix

#8 コメントを追記・日本語に修正しました
  app/Actions/Fortify/CreateNewUser.php
  app/Actions/Fortify/PasswordValidationRules.php
  app/Actions/Fortify/ResetUserPassword.php
  app/Actions/Fortify/UpdateUserPassword.php
  app/Actions/Fortify/UpdateUserProfileInformation.php
  app/Actions/Jetstream/AddTeamMember.php
  app/Actions/Jetstream/CreateTeam.php
  app/Actions/Jetstream/DeleteTeam.php
  app/Actions/Jetstream/DeleteUser.php
  app/Actions/Jetstream/InviteTeamMember.php
  app/Actions/Jetstream/RemoveTeamMember.php
  app/Actions/Jetstream/UpdateTeamName.php
  app/Http/Middleware/Authenticate.php
  app/Http/Middleware/EncryptCookies.php
  app/Http/Middleware/Localization.php
  app/Http/Middleware/PreventRequestsDuringMaintenance.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Http/Middleware/TrimStrings.php
  app/Http/Middleware/TrustHosts.php
  app/Http/Middleware/TrustProxies.php
  app/Http/Middleware/ValidateSignature.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Models/Membership.php
  app/Models/Team.php
  app/Models/TeamInvitation.php
  app/Models/User.php
  app/Policies/TeamPolicy.php
Labels: ♻refactor, 🛠️fix

#12 ユーザーアイコン機能を有効にしました
  config/jetstream.php
Labels: 👀needs_review, 🌟feature

#15 メールアドレスの認証機能を有効化しました
  app/Models/User.php
  config/fortify.php
Labels: 👀needs_review, 🌟feature

#16 Setting: プルリクエストのタイトル取得方法を修正しました
  .github/workflows/create_release_tag_and_release_note.yml
Labels: 👀needs_review, 🛠️fix

#18 支出・収入のカテゴリー関連の処理を作成
  app/Actions/Expenses/ExpenseCategory/CreateExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/DeleteExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/EditExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/GetExpenseCategoriesByTeam.php
  app/Actions/Expenses/ExpenseCategory/ReorderExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/UpdateExpenseCategory.php
  app/Http/Controllers/Expenses/ExpenseCategoryController.php
  app/Http/Requests/Expenses/ExpenseCategoryReorderRequest.php
  app/Http/Requests/Expenses/ExpenseCategoryStoreRequest.php
  app/Http/Requests/Expenses/ExpenseCategoryUpdateRequest.php
  app/Models/ExpenseCategory.php
  app/View/Components/RadioButton.php
  app/View/Components/SelectInput.php
  database/migrations/2023_08_19_231743_create_expense_categories_table.php
  database/migrations/2023_08_20_234151_add_unique_constraint_to_expense_categories.php
  database/migrations/2023_08_21_001833_add_order_column_to_expense_categories_table.php
  lang/en/messages.php
  lang/ja.json
  lang/ja/messages.php
  lang/ja/validation.php
  public/css/main.css
  public/script/Sortable.min.js
  public/script/expense-category-sotable.js
  resources/views/components/category-tabs.blade.php
  resources/views/components/flash-message.blade.php
  resources/views/components/radio-button.blade.php
  resources/views/components/select-input.blade.php
  resources/views/components/textarea.blade.php
  resources/views/expenses/expense_categories/create.blade.php
  resources/views/expenses/expense_categories/edit.blade.php
  resources/views/expenses/expense_categories/index.blade.php
  resources/views/layouts/app.blade.php
  routes/expenses.php
  routes/web.php
Labels: 👀needs_review, 🌟feature

#20 カテゴリー編集ページヘのリンクを作成
  app/Http/Livewire/Teams/CategorySetting.php
  lang/ja.json
  resources/views/livewire/teams/category-setting.blade.php
  resources/views/teams/category-setting.blade.php
  resources/views/teams/show.blade.php
Labels: 👀needs_review, 🛠️fix

#23 ロール周りの処理を修正
  app/Actions/Expenses/ExpenseCategory/CreateExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/DeleteExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/EditExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/GetExpenseCategoriesByTeam.php
  app/Actions/Expenses/ExpenseCategory/ReorderExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/UpdateExpenseCategory.php
  app/Http/Controllers/Expenses/ExpenseCategoryController.php
  lang/en/roles.php
  lang/ja.json
  lang/ja/roles.php
  public/script/expense-category-sotable.js
  resources/views/expenses/expense_categories/index.blade.php
  resources/views/livewire/teams/category-setting.blade.php
  resources/views/teams/team-member-manager.blade.php
Labels: 👀needs_review, 🛠️fix

#26 支払い方法の作成画面など
  app/Actions/Expenses/ExpenseCategory/CreateExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/DeleteExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/EditExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/GetExpenseCategoriesByTeam.php
  app/Actions/Expenses/ExpenseCategory/ReorderExpenseCategory.php
  app/Actions/Expenses/ExpenseCategory/UpdateExpenseCategory.php
  app/Actions/Expenses/PaymentMethod/CreatePaymentMethod.php
  app/Actions/Expenses/PaymentMethod/DeletePaymentMethod.php
  app/Actions/Expenses/PaymentMethod/EditPaymentMethod.php
  app/Actions/Expenses/PaymentMethod/GetPaymentMethods.php
  app/Actions/Expenses/PaymentMethod/ReorderPaymentMethod.php
  app/Actions/Expenses/PaymentMethod/UpdatePaymentMethod.php
  app/Http/Controllers/Expenses/PaymentMethodController.php
  app/Http/Livewire/Teams/PaymentMethod.php
  app/Models/PaymentMethod.php
  app/Services/Expenses/ExpensePermissionService.php
  database/migrations/2023_08_22_045227_create_payment_methods_table.php
  database/migrations/2023_08_22_045235_create_expenses_table.php
  database/migrations/2023_08_22_045242_create_holidays_table.php
  database/migrations/2023_08_22_050103_create_adjusted_payment_dates_table.php
  database/migrations/2023_08_22_051817_add_month_offset_to_payment_methods_table.php
  database/migrations/2023_08_22_093013_add_unique_constraint_to_payment_methods.php
  database/migrations/2023_08_22_093430_add_order_column_to_payment_methods.php
  lang/ja.json
  public/css/main.css
  public/script/payment-method-sortable.js
  resources/views/expenses/expense_categories/index.blade.php
  resources/views/expenses/payment_method/create.blade.php
  resources/views/expenses/payment_method/edit.blade.php
  resources/views/expenses/payment_method/index.blade.php
  resources/views/layouts/app.blade.php
  resources/views/teams/payment-method.blade.php
  resources/views/teams/show.blade.php
  routes/expenses.php
Labels: 👀needs_review, 🌟feature

#27 家計簿本体の機能を作成
  app/Http/Controllers/Expenses/FinanceController.php
  app/Http/Livewire/FinancesTable.php
  app/Models/Expense.php
  database/migrations/2023_08_22_120451_create_finances_table.php
  database/migrations/2023_08_22_121316_change_amount_type_in_expenses_table.php
  database/migrations/2023_08_22_121907_modify_payment_method_id_on_expenses_table.php
  lang/en/finances.php
  lang/ja.json
  lang/ja/finances.php
  public/css/main.css
  resources/views/expenses/finance/create.blade.php
  resources/views/expenses/finance/edit.blade.php
  resources/views/expenses/finance/finances-table.blade.php
  resources/views/expenses/finance/index.blade.php
  resources/views/layouts/app.blade.php
  routes/expenses.php
Labels: 👀needs_review, 🌟feature

#29 家計簿データ周りを修正
  app/Actions/Expenses/Finance/CreateFinance.php
  app/Actions/Expenses/Finance/DeleteFinance.php
  app/Actions/Expenses/Finance/EditFinance.php
  app/Actions/Expenses/Finance/StoreFinance.php
  app/Actions/Expenses/Finance/UpdateFinance.php
  app/Http/Controllers/Expenses/FinanceController.php
  app/Http/Livewire/FinancesTable.php
  app/Http/Requests/Expenses/FinanceStoreRequest.php
  app/Http/Requests/Expenses/FinanceUpdateRequest.php
  app/Providers/RouteServiceProvider.php
  public/css/main.css
  resources/views/expenses/expense_categories/index.blade.php
  resources/views/expenses/finance/finances-table.blade.php
  resources/views/expenses/finance/index.blade.php
  resources/views/expenses/payment_method/index.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/welcome.blade.php
  routes/expenses.php
  routes/web.php
Labels: 👀needs_review, 🛠️fix

#31 Deploy
  .github/workflows/auto-deploy.sh
  .github/workflows/auto-deploy.yml
Labels: 👀needs_review, 🛠️fix

#32 Update auto-deploy.yml
  .github/workflows/auto-deploy.yml
Labels: 👀needs_review, 🛠️fix

#33 Deploy
  .github/workflows/auto-deploy.sh
  .github/workflows/auto-deploy.yml
Labels: 👀needs_review, 🛠️fix

#36 Update auto-deploy.yml
  .github/workflows/auto-deploy.yml
Labels: 👀needs_review, 🛠️fix

#37 Update auto-deploy.yml
  .github/workflows/auto-deploy.yml
Labels: 👀needs_review, 🛠️fix

#38 リファクタリング・ダッシュボードを修正
  .DS_Store
  app/Actions/Expenses/Finance/UpdateFinance.php
  app/Actions/Expenses/PaymentMethod/DeletePaymentMethod.php
  app/Http/Controllers/Expenses/FinanceController.php
  app/Http/Livewire/FinancesTable.php
  app/Http/Requests/Expenses/FinanceStoreRequest.php
  app/Http/Requests/Expenses/FinanceUpdateRequest.php
  app/Models/PaymentMethod.php
  database/migrations/2023_08_23_145711_modify_expense_category_id_on_expenses_table.php
  lang/ja.json
  public/css/main.css
  resources/views/expenses/finance/create.blade.php
  resources/views/expenses/finance/edit.blade.php
  resources/views/expenses/finance/finances-table.blade.php
  resources/views/expenses/payment_method/index.blade.php
Labels: 👀needs_review, ♻refactor

#40 [patch] bugfix: マイグレーションファイルを修正
  database/migrations/2023_08_23_145711_modify_expense_category_id_on_expenses_table.php
Labels: 👀needs_review, 🕷️bug

#41 画面デザインを修正
  app/Http/Livewire/FinancesTable.php
  lang/ja.json
  resources/views/expenses/finance/create.blade.php
  resources/views/expenses/finance/edit.blade.php
  resources/views/expenses/finance/finances-table.blade.php
  resources/views/expenses/payment_method/create.blade.php
Labels: 👀needs_review, 🛠️fix

#43 お財布(口座)機能を作成
  app/Actions/Expenses/Finance/CreateFinance.php
  app/Actions/Expenses/Finance/EditFinance.php
  app/Actions/Expenses/Finance/StoreFinance.php
  app/Actions/Expenses/Finance/UpdateFinance.php
  app/Actions/Expenses/PaymentMethod/CreatePaymentMethod.php
  app/Actions/Expenses/PaymentMethod/EditPaymentMethod.php
  app/Http/Controllers/Expenses/PaymentMethodController.php
  app/Http/Controllers/Expenses/WalletController.php
  app/Http/Livewire/FinancesTable.php
  app/Http/Requests/Expenses/FinanceStoreRequest.php
  app/Http/Requests/Expenses/FinanceUpdateRequest.php
  app/Models/Expense.php
  app/Models/PaymentMethod.php
  app/Models/Wallet.php
  database/migrations/2023_08_24_030003_create_wallets_table.php
  database/migrations/2023_08_24_030157_add_wallet_id_to_payment_methods_table.php
  database/migrations/2023_08_24_040543_add_type_and_wallet_id_to_expenses_table.php
  resources/views/expenses/finance/create.blade.php
  resources/views/expenses/finance/edit.blade.php
  resources/views/expenses/finance/finances-table.blade.php
  resources/views/expenses/payment_method/create.blade.php
  resources/views/expenses/payment_method/edit.blade.php
  resources/views/expenses/wallet/create.blade.php
  resources/views/expenses/wallet/index.blade.php
  routes/expenses.php
Labels: 👀needs_review, 🌟feature

#44 お財布(口座)の金額を考慮して合計額を算出するように修正
  app/Http/Livewire/FinancesTable.php
  resources/views/expenses/finance/finances-table.blade.php
Labels: 👀needs_review, 🛠️fix

#46 fix: テキストカラーを修正
  app/Http/Livewire/FinancesTable.php
Labels: 👀needs_review, 🛠️fix

#50 ユーザビリティを向上
  app/Actions/Expenses/Finance/CreateFinance.php
  app/Actions/Expenses/Finance/GetFinance.php
  app/Actions/Expenses/PaymentMethod/CreatePaymentMethod.php
  app/Actions/Expenses/PaymentMethod/GetPaymentMethods.php
  app/Http/Controllers/Expenses/FinanceController.php
  app/Http/Controllers/Expenses/PaymentMethodController.php
  lang/ja.json
  public/css/main.css
  resources/views/expenses/finance/index.blade.php
  resources/views/teams/payment-method.blade.php
  resources/views/teams/show.blade.php
  resources/views/teams/wallet-setting.blade.php
Labels: 👀needs_review, 🛠️fix

#54 お金の移動機能を作成
  app/Actions/Expenses/Finance/StoreFinance.php
  app/Actions/Expenses/Finance/UpdateFinance.php
  app/Http/Livewire/FinancesTable.php
  app/Http/Requests/Expenses/FinanceStoreRequest.php
  app/Http/Requests/Expenses/FinanceUpdateRequest.php
  app/Models/Expense.php
  database/migrations/2023_08_25_033831_add_target_wallet_to_expenses_table.php
  lang/ja.json
  resources/views/expenses/finance/create.blade.php
  resources/views/expenses/finance/edit.blade.php
Labels: 👀needs_review, 🌟feature

#55 リファクタリング・バグ修正(お財布の計算ビジネスロジックを修正)
  app/Actions/Expenses/Wallet/CreateWallet.php
  app/Actions/Expenses/Wallet/DestroyWallet.php
  app/Actions/Expenses/Wallet/EditWallet.php
  app/Actions/Expenses/Wallet/FetchWallets.php
  app/Actions/Expenses/Wallet/ReorderWallet.php
  app/Actions/Expenses/Wallet/StoreWallet.php
  app/Actions/Expenses/Wallet/UpdateWallet.php
  app/Http/Controllers/Expenses/WalletController.php
  app/Http/Livewire/FinancesTable.php
Labels: 👀needs_review, ♻refactor
